body {
    padding: 25px;
    background-color: blanchedalmond;
}

.tab-pane {
    padding: 10px;
}
#home {
    background-color: red;
}

#shop {
    background-color: green;
}

#contact {
    background-color: blue;
    color: aliceblue;
}
